// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$color-one: #dd2c00;
.color-one {
    color: $color-one;
}
a {
    text-decoration: none;
}
